body
{
    background-image: linear-gradient(rgb(237, 243, 242), rgb(124, 170, 166));
}
.table {position: relative;}
.row {height: 9%; clear: both;}
.cell {height: 90%; width: 5%; float: left; position: relative; text-align: center;}
.cell:hover {opacity: 0.5;}
.content {border: 1px solid white; position: absolute; top: 3px; left: 3px; bottom: 3px; right: 3px;}
.element {position: absolute; top: 33%; left: 0px; right: 0px; bottom: 0px; font-size: 2.5vmin; font-weight: bold;}
.num {position: absolute; left: 3px; bottom: 3px; font-size: 1vw; font-size: 1vmin;}
.weight {position: absolute; bottom: 3px; right: 3px; font-size: 1vw; font-size: 1vmin;}
img {position: absolute; opacity: 0.05; width: 100%; height: 100%; margin-left: auto; margin-bottom: auto;}